<button (click)="retornar()">Retornar</button>
<div>
<form [formGroup]="alunosForm">
  <div formArrayName="alunos">
    <div *ngFor="let aluno of getAlunoFormsControl(); let i = index"
        [formGroupName]="i">
        <input formControlName="nome" placeholder="Nome do Aluno {{ i+1 }}">
        <input type="button" (click)="addAlunoForms()" value="Add">
        <input type="button" (click)="removerAlunoForms(i)" value="Del">
    </div>
</div>
<div>
    <form (ngSubmit)="exportar()" [formGroup]="form">
  
      <div *ngFor="let questao of listaPerguntas" class="form-row">
        <app-questao [questao]="questao" [form]="form"></app-questao>
      </div>
  
      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  
    
  </div>