<div id="pdfExportado" class="container text-center" style="display: none">
    <div class="pdfHeader row">
        <div class="logo col">
            <img src="assets/imgs/logoIFRN.png" style="width: 80%; height: 80%">
        </div>
        <div class="col">
            <p id="campoProfessora">Professora : Aline Gomes</p>
            <p id="campoAlunos">Alunos: {{ listaAlunos }}</p>
        </div>
    </div>
    <body>
        <h1>Experimento - {{ nomeExperimento }} </h1>
        <div *ngFor="let pergunta of listaPerguntasRespostas; index as i">
            <p class="pergunta">{{i+1}}ª questão: {{pergunta.label}}</p>
            <p class="resposta">{{pergunta.resposta}}</p>
        </div>
    </body>
</div>
