<div id="pdfExportado" class="container text-center" style="display: none">
  <div class="pdfHeader row">
    <div class="logo col">
      <img src="assets/imgs/logoIFRN.png" style="width: 80%; height: 80%" />
    </div>
    <div class="col">
      <p id="campoProfessora">Professora : Aline Gomes</p>
      <p id="campoAlunos">Alunos: {{ listaAlunos }}</p>
    </div>
  </div>
  <body>
    <h1>Experimento - {{ nomeExperimento }}</h1>
    <div class="container text-start">
      <div
        *ngFor="let pergunta of listaPerguntasRespostas"
        class="row justify-content-start"
      >
        <app-questao-pdf [questao]="pergunta"></app-questao-pdf>
      </div>
    </div>
  </body>
</div>
