<br />
<div class="container">
  <div class="row">
    <div class="col align-self-center justify-content-center">
      <h1 class="align-center">Sobre o projeto</h1>
    </div>
  </div>
  <div class="row"><div class="col-auto">
    <p class="paragrafo-projeto">
        A plataforma de Física na Prática busca auxiliar as aulas práticas da
        matéria de Física do ensino médio no campus de Parnamirim do IFRN sendo seu
        principal objetivo de complementar conteúdos ministrados em sala de aula
        através de ensino prático da matéria, trazendo roteiros de experimentos e
        levando o aluno à reflexão crítica, estimulando seu pensamento científico
        através dos formulários, para obtenção de sua nota final, após o roteiro. É
        por meio deste que o aluno poderá colocar, em prática, as teorias, deduções
        e cálculos de física vistos em sala de aula. Cada experimento elaborado terá
        apoio de materiais audiovisuais, auxílio do professor responsável e o seu
        roteiro e formulário digital. Para a criação desta plataforma foram
        utilizados o framework Angular, composto por HTML, TypeScript e SCSS
        (pré-processador de CSS) com auxílio das bibliotecas Bootstrap para
        estilização do site e JSPDF e HTML2Canvas para exportação dos relatórios de
        física.
      </p>
      <p class="paragrafo-projeto">Desenvolvido com muito amor por Marcos Vinicius e Carlos Ney de INFO 2019.1 <3</p>
  </div></div>
</div>
