<div [ngSwitch]="questao.type">
    <div *ngSwitchCase="'text'">
      <p class="pergunta"><b>Questão {{ questao.key }}:</b> {{ questao.label }} *</p>
      <p class="resposta">{{ questao.resposta }} </p>
    </div>
    <div *ngSwitchCase="'imagem'" class="d-flex justify-content-center">
    <figure class="figure text-center">
      <img [src]="questao.resposta" class="imgForms figure-img rounded" />
      <figcaption class="figure-caption">{{questao.label}}</figcaption>
    </figure>
  </div>
     <div *ngSwitchCase="'tabela'">
      <p>{{ questao.key}}ª questão: {{ questao.label}} </p>
      <div
        *ngFor="let questao of questao.listaPerguntas"
        class="container text-start"
      >
        <app-questao-pdf [questao]="questao"></app-questao-pdf><br>
      </div>
    </div>
  </div>