<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- TODO: Alterar referências das âncoras e adicionar rotas -->
    <a class="navbar-brand" href="#">
      <img
        src="assets/imgs/Navbar/LogoOficial.png"
        alt="erro"
        class="d-inline-block align-text-top"
      />Página Inicial</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Botão de expansão"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="assets/imgs/Navbar/Experimentos.png"
              alt="erro"
              class="d-inline-block align-text-top"
            />Experimentos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="Página Inicial" href="#">
            <img
              src="assets/imgs/Navbar/SobreProjeto.png"
              alt="erro"
              class="d-inline-block align-text-top"
            />Sobre o Projeto</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img
              src="assets/imgs/Navbar/Componentes.png"
              alt="erro"
              class="d-inline-block align-text-top"
            />
            Componentes</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
