/* You can add global styles to this file, and also import other style files */
// TODO Mudar itens da Navbar para alterarem a cor conforme impar ou par.
// TODO Mudar o dropdown hover color
$roxo-primario: #3B245A;
$roxo-secundario: #7F4FC3;
$white: white;
$red: rgb(243, 77, 77);

$primary: $roxo-primario;
$secondary: $roxo-secundario;

.navbar {
    background-color: $roxo-primario;
}

.experimentos-header, .align-center {
    text-align: center;
}
.navbar img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.navbar li a {
    font-size: 24px;
}

.resposta {
    color: $red
}

strong {
    color: $roxo-primario;
}

.paragrafo-projeto, .resposta, .pergunta {
    text-indent: 30px;
    text-align: justify
}


$navbar-light-color:                rgba($white, .55 * 100%);
$navbar-light-hover-color:          rgba($white, .7 * 100%);
$navbar-light-active-color:         rgba($white, .9 * 100%);
$navbar-light-disabled-color:       rgba($white, .3 * 100%);


$dropdown-link-color:               $white;
$dropdown-link-hover-color:         $white;
$dropdown-bg:                       $roxo-primario;
$dropdown-link-hover-bg:            rgba($roxo-secundario, .80 * 100%);

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/bootstrap-utilities";


/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";