/* You can add global styles to this file, and also import other style files */

$purple: purple;
$white: white;

$navbar-colortext: $white;
$background-navbar: $purple;
$primary: $purple;
$secondary: $white;

$navbar-light-color:                rgba($navbar-colortext, .55);
$navbar-light-hover-color:          rgba($navbar-colortext, .7);
$navbar-light-active-color:         rgba($navbar-colortext, .9);
$navbar-light-disabled-color:       rgba($navbar-colortext, .3);

$dropdown-color: rgba($navbar-colortext, .55);
$dropdown-bg: rgba($purple, .3);

.custom-nav {
    background-color: $background-navbar;
}

.navbar .dropdown-item {
    color: $white;
}



@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/bootstrap-utilities";


/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
