/* You can add global styles to this file, and also import other style files */
$black: purple;

$navbar-light-color:                rgba($black, .55);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-active-color;
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/bootstrap-utilities";


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
