<div class="container text-justify" [ngSwitch]="aba">
  <div id="principal" *ngSwitchCase="'PDF'">
    <app-formulario
      (retornarBool)="configurarAba($event)"
      [perguntas]="questoes"
      [nomeExperimento]="'Efeito Monga'"
    ></app-formulario>
  </div>
  <div id="principal" *ngSwitchCase="'experimento'">
    <br />
    <h2 class="experimentos-header">LENTE DIVERGENTE</h2>
    <div class="accordion" id="mainAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button text-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Experimento: Como a luz é refratada por uma lente divergente? -
            Objetivos
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#mainAccordion"
        >
          <div class="accordion-body">
            <p>
              <strong>Objetivo: </strong> Objetivo: Investigar a passagem da luz
              através da lente plano-côncava (divergente), entender o que é
              miopia e a função da lente divergente para correção.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container roteiro">
      <br />
      <h3 class="experimentos-header">Roteiro</h3>
      <ul>
        <li>
          No meio de uma folha de papel desenhe linhas cruzadas em ângulos retos
          entre si. A intersecção é rotulada por M. A uma distância de 3
          centímetros de ambos os lados de M, faça marcas na linha vertical.
        </li>
        <div class="d-flex justify-content-around">
          <figure class="figure text-center">
            <img
              src="assets/imgs/Experimentos/LenteDivergente/LD01.png"
              class="figure-img rounded"
            />
            <figcaption class="figure-caption">Figura 1</figcaption>
          </figure>
        </div>
        <li>
          Conecte a caixa de luz à fonte de alimentação (12 V) e ligue-a.
          Posicione a caixa de luz sem diafragma, com o lado da lente interna
          voltado para a folha de papel. Coloque a lente plano-côncava (lado
          áspero para baixo) sobre a marcação M, como indicado na Figura 02.
        </li>
        <div class="d-flex justify-content-around">
          <figure class="figure text-center">
            <img
              src="assets/imgs/Experimentos/LenteDivergente/LD02.png"
              class="figure-img rounded"
            />
            <figcaption class="figure-caption">Figura 2</figcaption>
          </figure>
        </div>
        <li>
          Agora desloque a caixa de luz para as posições mostradas na Figura 03
          e observe novamente o percurso da luz após atravessar a lente.
          <strong
            >Anote suas observações para inserir no relatório na página
            seguinte.</strong
          >
        </li>
        <div class="d-flex justify-content-around">
          <figure class="figure text-center">
            <img
              src="assets/imgs/Experimentos/LenteDivergente/LD03.png"
              class="figure-img rounded"
            />
            <img
              src="assets/imgs/Experimentos/LenteDivergente/LD0302.png"
              class="figure-img rounded"
            />
            <figcaption class="figure-caption">Figura 3</figcaption>
          </figure>
        </div>
      </ul>
      <div>
        <h3 class="experimentos-header">PROBLEMAS VISUAIS: Miopia</h3>
        <div class="d-block text-center">
          <p>
            A imagem é formada antes da retina quando os objetos se encontram
            “longe”. Veja a figura abaixo. Uma lente do tipo divergente deve ser
            usada para aumentar a abertura dos raios de luz que chegam ao olho
            e, consequentemente, convergir mais longe, idealmente sobre a
            retina.
          </p><figure class="figure d-block text-center">
            <img
              src="assets/imgs/Experimentos/LenteDivergente/LD04.png"
              class="figure-img rounded"
            />
            <figcaption class="figure-caption">Figura 4</figcaption>
            </figure>
        </div>
        <ul>
          <li>
            Prepare uma folha de papel, como mostrado na Figura 05. A uma distância de 10 cm e 18 cm da borda direita desenhe linhas cruzadas em ângulos retos entre si (os pontos de interseção são M e P) e a uma distância de 3 cm de P marque dois pontos, um de cada lado, na linha vertical. 
          </li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD05.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 5</figcaption>
            </figure>
          </div>
          <li>
            Desenhe um semicírculo de M com um raio de 3 cm. O ponto de intersecção com o eixo óptico é S. Hachure esta área semicircular. 
          </li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD06.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 6</figcaption>
            </figure>
          </div>
          <li>
            Desenhar mais um arco de S, com um raio de 9,5 cm (Fig. 3). O ponto de intersecção com o eixo óptico é F. O ponto F representa a retina do olho míope em seu modelo.
          </li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD07.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 7</figcaption>
            </figure>
          </div>
          <li>
            <u>Simulação de visualização de objetos longe:</u> Mova a caixa de luz até que os raios do meio viajem precisamente ao longo do eixo óptico. Se necessário, desloque a lente com cuidado ligeiramente ao longo da linha perpendicular. Observe o caminho da luz paralela após a passagem através do cristalino e descreva a imagem no anteparo e a posição do ponto focal (encontro dos raios). Marque o ponto de convergência da luz paralela incidente e rotule-o com F1.
          </li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD08.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 8</figcaption>
            </figure>
          </div>
          <li>
            Coloque a lente plano-côncava na frente da lente semicircular, como mostrado na Figura 09. Observe e descreva novamente o caminho da luz e em particular o ponto focal. Para onde o ponto de convergência se desloca? <strong>Anote suas observações para inserir no relatório na página seguinte.</strong>
          </li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD09.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 9</figcaption>
            </figure>
          </div>
          <li><u>Simulação de objetos próximos:</u> Gire a caixa de luz de 180° e remova o diafragma de modo que agora os raios de luz divergente incidam na lente que representa o cristalino. 
          </li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD10.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 10</figcaption>
            </figure>
          </div>
          <li>Segure o diafragma de fenda tripla a 2 cm da lente que representa o cristalino, de modo que o feixe de luz viaje ao longo do eixo óptico. Observe o percurso da luz após a refração.</li>
          <div class="d-flex justify-content-around">
            <figure class="figure text-center">
              <img
                src="assets/imgs/Experimentos/LenteDivergente/LD11.png"
                class="figure-img rounded"
              />
              <figcaption class="figure-caption">Figura 11</figcaption>
            </figure>
          </div>
        </ul>
      </div>
    </div>
    <div class="container text-center">
      <button (click)="aba = 'PDF'" class="btn btn-primary">
        Iniciar relatório
      </button>
    </div>
  </div>
</div>
